@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables */
:root {
  --background-dark: #1c1c1c;
  --background-light: #121212;
  --background-button: #4b4b4b;
  --background-button-hover: #3f3f40;
  --text-color: white;
  --text-secondary: #9ca3af;
  --text-muted: #a5a5a5;
  --text-highlight: #787878;
  --border-color: #2c2c2c;
  --border-radius: 6px;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background: var(--background-dark);
  color: var(--text-color);
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input,
button {
  border: 0;
}

/* Keyframes */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Layout */
.container {
  max-width: 960px;
  width: 100%;
}

header {
  position: relative;
  padding: 2em;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url('./img/header-bg.png');
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header a {
  color: var(--text-color);
}

main {
  margin-top: 3rem;
  margin-bottom: 2em;
  border-radius: var(--border-radius);
  background: var(--background-light);
  overflow: hidden;
}

#movies,
#watchlist {
  padding: 1em 3em;
}

#watchlist {
  padding-top: 5em;
}

#loading-message {
  display: none;
  text-align: center;
  font-size: 1.5rem;
  animation: pulse 1.5s infinite;
}

/* Forms */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -16px;
}

input {
  padding: 1em;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background: #2e2e2f;
  color: var(--text-secondary);
  flex-basis: 60%;
  font-size: 1rem;
}

button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background: var(--background-button);
  padding: 1em 1.5em;
  color: var(--text-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

button:hover {
  cursor: pointer;
  background: var(--background-button-hover);
}

button:active {
  animation: pop 0.5s forwards;
}

.add-remove-btn {
  border-radius: var(--border-radius);
  font-size: 0.8rem;
}

.add-remove-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-remove-btn:active {
  animation: pop 0.5s forwards;
}

.add-remove-img {
  width: 20px;
}

/* Articles */
article {
  display: flex;
  gap: 2em;
  margin-bottom: 3em;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2em;
}

article img {
  width: 150px;
}

article h2 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

article p.description {
  color: var(--text-muted);
  margin-bottom: 0;
}

.star {
  width: 15px;
  height: auto;
  margin: 0 0.2em;
}

.rating {
  font-size: 0.9rem;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

/* Empty Watchlist */
.empty-watchlist {
  text-align: center;
  margin-bottom: 2em;
}

.empty-watchlist h2 {
  color: var(--text-highlight);
}

.empty-watchlist a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--text-color);
}

a.go-to-search-btn {
  border-radius: var(--border-radius);
  background: var(--background-button);
  padding: 1em 1.5em;
  color: var(--text-color);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  max-width: 400px;
  margin: 2em auto;
}
